
.custom-button {
    background-color: #ff5733;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .custom-button:hover {
    background-color: #ff4500;
  }
  